.side-menu {
  background-color: #e2363c;
  height: 100vh;
}

.side-nav {
  padding-top: 35px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}

.side-nav ul {
  list-style: none;
  padding: 0px;
}

.side-nav ul li a {
  text-decoration: none;
  color: inherit;
}

.side-nav ul li .item {
  height: 100%;
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.side-nav ul li .item:hover {
  background-color: #e73f45;
}

.side-nav img {
  width: 60%;
  padding-bottom: 45px;
}
